In [3]:
import pandas as pd
import xml.etree.ElementTree as et

In [5]:
# Converting the xml to pandas and csv

data_folder = '../WIMU_22-log_20200305-21_17_28.qul-params-xml/'
xml_file='WIMU_22-log_20200305-21_17_28.qul-GYRO.xml'
xtree = et.parse(data_folder+xml_file)
chart = xtree.getroot()

In [31]:
# Appending to a list as it is faster than numpy array appening

xSeries = chart[0]
ySeries = chart[1]
zSeries = chart[2]
times=[]
X=[]
Y=[]
Z=[]
for points in xSeries:
    for point in points:
        y=float(point.attrib['Y'].replace(",","."))
        x=point.attrib['X']
        times.append(x)
        X.append(y)
for points in ySeries:
    for point in points:
        y=float(point.attrib['Y'].replace(",","."))
        Y.append(y)
for points in zSeries:
    for point in points:
        y=float(point.attrib['Y'].replace(",","."))
        Z.append(y)

In [33]:
# Confirming the lengths are matching for each axis
print(len(times),len(X),len(Y),len(Z))

562198 562198 562198 562198

In [41]:
# Converting to a numpy arra and write to file
import numpy as np
df = pd.DataFrame(columns=['time','x','y','z'],data=np.asarray([times,X,Y,Z]).T)
df.to_csv(path_or_buf='../data/'+xml_file+'.csv',index=False)

In [42]:
df

             time                  x                  y                  z
0       127052166  -1.83312809467316   3.20124673843384   6.18870306015015
1       127052176  -3.21607971191406    2.8147885799408   4.97877931594849
2       127052186  -2.94673204421997   4.06551790237427   4.94812059402466
3       127052196  -3.47040867805481   4.49756050109863   5.16688823699951
4       127052206  -2.00628018379211   3.98412394523621   5.91411113739014
...           ...                ...                ...                ...
562193  132704995   50.8718948364258  -66.0516204833984   28.0197715759277
562194  132705005   70.2050094604492  -65.1614761352539    16.589900970459
562195  132705015  -30.6385955810547   -47.398609161377          7.1953125
562196  132705025  -24.1819152832031  -30.1286430358887  -1.22354197502136
562197  132705035  -28.1933040618896  -28.7611141204834   2.17247366905212

[562198 rows x 4 columns]